<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 id="logo">KeepNotes</h1>
    <div class="signup_container">
      <form action="" method="POST">
        <h1 class="">
          Sign Up to KeepNotes
        </h1>
        <div class="box">
          <p>Fullname</p>
          <p><input type="text"></p>
        </div>

        <div class="box">
          <p>Username</p>
          <p><input type="text"></p>
        </div>

        <div class="box">
          <p>Email</p>
          <p><input type="email"></p>
        </div>

        <div class="box">
          <p>Password</p>
          <p><input type="password"></p>
        </div>
      </form>
    </div>
  </body>
</html>
